[mcu nhk]
serial: /dev/serial/by-id/usb-Klipper_rp2040_4E363334320E4A89-if00
restart_method: command

#####################################################################
#   Extruder
#####################################################################

[extruder]
step_pin: nhk:gpio23
dir_pin: !nhk:gpio24
enable_pin: !nhk:gpio25

pullup_resistor: 2200
full_steps_per_rotation: 200                                       # Set to 200 for LDO 1.8° stepper motor, and set to 400 for OMC(StepperOnline) 0.9° stepper motor
rotation_distance: 47.088                                            
gear_ratio: 9:1                                                   
microsteps: 16
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: nhk:gpio9
sensor_type: Generic 3950                            
sensor_pin: nhk:gpio29
#control: pid                                                        # Do PID calibration after initial checks
#pid_Kp: 28.182
#pid_Ki: 1.978
#pid_Kd: 100.397
min_temp: 0
max_temp: 310
min_extrude_temp: 170
max_extrude_only_distance: 151
max_extrude_cross_section: 5
pressure_advance: 0.032                                              # See tuning pressure advance doc
pressure_advance_smooth_time: 0.04

[tmc2209 extruder]
sense_resistor: 0.100
uart_pin: nhk:gpio0
tx_pin: nhk:gpio1
interpolate: false
run_current: .6
interpolate: False
run_current: 0.6
# sense_resistor: 0.110
stealthchop_threshold: 0                                            # Set to 0 for spreadcycle, avoid using stealthchop on extruder

[autotune_tmc extruder]
motor: ldo-36sth20-1004ahg-9T

[heater_fan hotend_fan]
pin: nhk:gpio5
max_power: 1.0
kick_start_time: 0.5
heater: extruder
heater_temp: 40.0
#fan_speed: 1.0                                                     # You can't PWM the delta fan unless using blue wire

[fan]
pin: nhk:gpio6
max_power: 1.0
kick_start_time: 0.5                                                # Depending on your fan, you may need to increase this value if your fan will not start
off_below: 0.13
cycle_time: 0.010

#####################################################################
#   Endstops
#####################################################################
## XES - Toolhead PCB
# [stepper_x]
# endstop_pin: nhk:gpio13


#####################################################################
#   Filament Sensor
#####################################################################
#[filament_switch_sensor filament_sensor]
#switch_pin: nhk:gpio3
#pause_on_runout: True

#####################################################################
# 	Extruder
#####################################################################

[tmc2209 extruder]
sense_resistor: 0.100
uart_pin: nhk:gpio0
tx_pin: nhk:gpio1
interpolate: false
run_current: .6

#####################################################################
#   Fans
#####################################################################
## PCF
[fan]
pin: nhk:gpio6

## HEF
[heater_fan hotend_fan]
pin: nhk:gpio5
# tachometer_pin: nhk:gpio16
# tachometer_ppr: 2

#####################################################################
# 	Probe
#####################################################################
# [probe]
# pin: nhk:gpio10

#####################################################################
#   Lights
#####################################################################
[neopixel AntHead_leds]
pin: nhk:gpio7
chain_count: 3
color_order: GRBW
initial_RED: 1.0
initial_GREEN: 1.0
initial_BLUE: 1.0
initial_WHITE: 1

## PCB Activity Light
[output_pin act_led]
pin: !nhk:gpio8

#####################################################################
#   Addtional Sensors
#####################################################################
[temperature_sensor NH36]
sensor_type: temperature_mcu
sensor_mcu: nhk
min_temp: 0
max_temp: 100